body{
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	color: #4b4e56;
	background: url("/static/app/img/bg.jpg");
	background-size: cover;
	text-align: justify;
	
}


.form-check-input:checked {
    background-color: #f08b36;
    border-color: #f08b36;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input[type="radio"]:focus,
input[type="select"]:focus,
.uneditable-input:focus {   
  border-color: rgba(240, 139, 54, 0.9) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(240, 139, 54, 0.8) !important;
  outline: 0 none !important;
}

.form-select:focus {   
  border-color: rgba(240, 139, 54, 0.9) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(240, 139, 54, 0.8) !important;
  outline: 0 none !important;
}
.form-control:focus {
        border-color: #28a745 !important;
        box-shadow: 0 0 0 0.2rem rgba(240, 139, 54, 0.25) !important;
    } 

    select:hover{
    	background-color: #f08b36;
    	color: #ffffff;
    }
    option:hover {
  background-color: #28a745;;
}

select:focus > option:hover { 
    background: #f08b36 !important;
}

option:hover {
  background-color: var(--selectHoverCol);
  color: #ffffff;
}


.centrar-btns{
	padding-top: 10px;


}
header {
	background: #ff8a16;
	color: #ffffff;
	height: 80px;
	padding-top: 16px;
}

.form {
 padding-top: 100px;
}
.text-gris{
	color: #7f8080;
}
.mensaje{
	padding: 24px;
	margin-top: 24px;
	margin-bottom: 24px;
	width: 100%;
	background: #ffffff;
}

.bg-general{
	background: #ffffff;
	min-height: 300px;
	width: 100%;
	margin-top: 32px;
	margin-bottom: 32px;
	padding: 24px;

}
.caption {
	font-size: 12px;
	padding-top: 12px;
}
.separador {
	height: 4px;
	width: 100%;
	background: #e75025;

}
.bt-siguiente {
	margin-top: 24px;
}

.logo{
	width: 4%; 
	display: inline; 
	float: right; 
	padding-top: 8px;
}

.bg-secundario{
	min-height: 500px;
	width: 100%;
	margin-bottom: 32px;
	padding: 24px;

}
.card-seleccion {

	background: #ffffff;
	border-radius: 6px;
	color: #7f8080;
	width: 101%;
	height-min: 60px;
	margin-bottom: 24px;
	font-size: 14px;

}
.big{
	font-size: 40px;
	padding-left: 16px;
    padding-right: 16px;
}

.form-check-input {
	width: 40px;
    height: 40px;
}

.form-check {
   
    padding-left: 2.4em;
   }

.margen {
	margin-left: 24px;
	text-align: center;
}

.tamaño{
	width: 48px;
	height: 48px;
}
.tamaño-sm{
	width: 24px;
	height: 24px;
}

label{
	background: #ffffff;
    width: 100%;
    border-radius: 4px;
    padding-left: 8px;
}















































@media (max-width: 768px)  { 
.modelo {
	display: none;
}
.form {
 padding-top: 40px;
 text-align: center;
}
.text-cuerpo {
	font-size: 14px;
}
h1{
	font-size: 26px;
}
header {
	
	height: 60px;
	padding-top: 16px;
}
.logo{
	width: 7%; 

	padding-top: 0px;
}

.card-seleccion {

	padding-bottom: 12px;
	width: 107%;

}
.margen{
	margin-left: 42px;
}
.espaciado {
	margin-top: -12px;
}
.espacio{
	margin-left: 8px;
	text-align: center;
}
.form-check-input {
	width: 26px;
    height: 26px;
}
h1{
	font-size: 18px;
}

.caption {
	font-size: 8px;
	margin-bottom: 24px;
}

.margen{
	margin-left: 0px;
	
}
.espaciado {
	margin-top: 12px;
}
	.tamaño{
	width: 40px;
	height: 48px;
}
.tamaño-sm{
	width: 16px;
	height: 16px;
}
.card-seleccion {
	text-align: justify;
	font-size: 16px;

}
h2{
	font-size: 20px;
}
.row {
    --bs-gutter-x: 1rem;	
}

@media (max-width: 1269px)  { 
#detalle-millones{
	

	
}
@media (max-width: 1199.98px)  { 
	

}

@media (min-width: 1199.98px) { 
	

 }

@media (min-width: 1400px) { 
 
}
