<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- CSS  personalizado-->
  {% load static %}
  <link rel="stylesheet" href="{% static 'app/css/main.css' %}">

    <!-- Font Montserrat-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <title>Clima ISS 2024</title>
  </head>
  <body>


<!-- Inicio hero -->
    <div id="hero" class="bg-hero"> 
      <div class="container-xxl">
        <div class="row">

          <div class="modelo col-lg-7 ">
            <img class="img-fluid" src="{% static 'app/img/modelo.png' %}">
          </div>

          <div class="form col-lg-5 col-sm-12">

            <div class="col-lg-12">
              <img class="img-fluid" src="{% static 'app/img/gracias.png' %}">

            <div class="col-lg-12" style=" padding-top: 12px;">
              <form action= "{% url 'step8' %}" method="POST">
                {% csrf_token %}
                <div class="row align-items-center">
                <br><br><br>
                <div class="d-grid gap-2">
                  <b><h3 style=" color :#ab5a0a; text-align: center;">Ya Puedes cerrar esta paginá</h3></b>
                  </div>
              </form>

              
            </div>
           
          </div>
        </div>
     </div>

    </div>

<!-- Inicio Core Principal -->

  

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}
      {% for m in messages %}
          <script>
              Swal.fire({
                  "title": "Atención",
                  "text": "{{m}}",
                  "icon": "info"
              })
          </script>
      {% endfor %}
    {% endif %}   
  </body>
</html>