{% extends 'app/base.html' %}
{% block contenido %}
{% load static %}
<section class=" bg-general container-xxl">

    <p class="text-cuerpo">
      A continuación te invitamos a contestar nuestra encuesta de clima 2024, su objetivo es conocer las impresiones y experiencias de los coloboradores de ISS en torno a diferentes temáticas.
      <br><br>
      Esta encuesta es voluntaria y confidencial, los resultados serán administrados por ID Consulting. Desde ya agradecemos tu participación. En caso de cualquier duda oo consulta, puedes comunicarte directamente a<a href=""> iss_experience@idcoonsulting.cl</a> 
      <br><br>
      El siguiente cuesttionario, está construido en base a una puntuacuión en escala Likert, esta evaluación posee 5 alternativas posibles, siendo la 1 la de mayor insatisfacción y 5 la de mayor satisfacción.

    </p>

    <div class=" row col-12 " style="padding-top: 48px;">

      <div class=" col-2 offset-1" style=" text-align: center;">
            <img src="{% static 'app/img/1.svg' %}" width="48" height="48">
            <p class="caption">Muy Insatisfecho</p> 
      </div>

      <div class=" col-2" style=" text-align: center;">
            <img src="{% static 'app/img/2.svg' %}" width="48" height="48">
            <p class="caption">Insatisfecho</p> 
      </div>

      <div class=" col-2" style=" text-align: center;">
            <img src="{% static 'app/img/3.svg' %}"  width="48" height="48">
            <p class="caption">Indiferente</p> 
      </div>

      <div class=" col-2" style=" text-align: center;">
            <img src="{% static 'app/img/4.svg' %}"  width="48" height="48">
            <p class="caption">Satisfecho</p> 
      </div>

      <div class=" col-2" style=" text-align: center;">
            <img src="{% static 'app/img/5.svg' %}"  width="48" height="48">
            <p class="caption">Muy Satisfecho</p> 
      </div>
      
    </div>


    
  </section>

  <div class="separador container-xxl"> </div>

  <div class="container-xxl bt-siguiente"> 
        <a href="{% url 'step2' %}"  class="btn btn-danger btn-lg" role="button" aria-pressed="true" style="float: right;">Siguiente</a>
  </div>
{% endblock %}